.dashboardMainGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2.5rem;
}
.dashTopP {
  margin: 2.5rem 0;
  font-size: 1.65rem;
  font-weight: 400;
  color: var(--black);
}
.walletName {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dashboardMainGrid > main {
  width: 100%;
  background-color: rgba(173, 82, 242, 0.15);
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.walletName h6 {
  font-size: 1.75rem;
  font-weight: 600;
  white-space: nowrap;
}
.walletName span {
  font-size: 1.75rem;
  font-weight: 400;
  color: var(--dark-purple);
  display: flex;
  width: 85%;
}
.walletName svg {
  font-size: 2rem;
}
.walletName svg {
  color: var(--dark);
  width: 3rem;
  transition: 0.25s;
  cursor: pointer;
}
.walletName svg:hover {
  color: var(--light-purple);
}
.walletName div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 0 0.5rem;
}
.displayNameEdit input {
  width: 85%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid var(--light-purple);
  font-size: 1.5rem;
  padding: 0 0.5rem;
  color: var(--light-purple);
  background-color: transparent;
}
.dashboardGraphBox {
  width: 100%;
  height: 20rem;
  margin: 2.5rem 0;
}
.dashboardGraph button {
  width: 100%;
}
h5 {
  font-size: 1.75rem;
  color: var(--dark-purple)  !important;
  font-weight:bold !important;
}
.leaderBoardHeading span {
  display: flex;
  align-items: center;
  margin: 1.65rem 0 2.5rem 0;
}
.leaderBoardHeading span svg {
  font-size: 2.25rem;
  color: var(--dark);
  margin: 0 0.75rem 0 0;
  cursor: pointer;
  transition: 0.25s;
}
.leaderBoardHeading span svg:hover {
  color: var(--light-purple);
}
.leaderBoardHeading h6,
.dashboardGraph h6,
.dashboardBalance h6 {
  font-size: 1.65rem;
  font-weight: 600;
}
.dashboardBalance div {
  width: 100%;
  display: grid;
  grid-gap: 1.5rem;
  margin: 2.5rem 0 0 0;
}
.dashboardBalance div button {
  width: 100%;
}
/* .dashboardBalance {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
} */
.tableContainer h5 {
  margin: 0 0 1rem 0;
}
.dashboardTable td div {
  display: flex;
  width: 100%;
}
.dashboardTable td div button {
  width: 100%;
}
.tableGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2.5rem;
  margin: 2.5rem 0 0 0;
}
.tableGrid .tableContainer:nth-child(1) {
  grid-column: 1/-1;
}
@media screen and (max-width: 1000px) {
  .walletName {
    grid-column: 1/-1;
  }
  .placeholder2,
  .placeholder1 {
    display: none;
  }
  .dashboardMainGrid {
    grid-template-columns: 1fr 1fr;
  }
  .dashboardGraph {
    grid-column: -1/1;
  }
}
@media screen and (max-width: 800px) {
  .tableGrid {
    grid-template-columns: 1fr;
  }
  .dashboardMainGrid {
    grid-template-columns: 1fr;
  }
  .walletName {
    flex-direction: column;
    align-items: flex-start;
  }
}
